<div class="wrap">
    <h2>Customs Slider</h2>
    <form id="form1" method="post" action="{{ panel_url('oCoder::mainPanel', {'action':'add'}) }}">
        <label>Name </label><br/>
        <input type="text" name="name">
        <br/>

        <label>Content Text </label><br/>
        <input type="text" name="content"><br/>

        <label>Company</label><br/>
        <input type="text" name="company"><br/>
         
        <label>Image</label> 
        <div id="something" style="width: 100%; float: left;">

        </div>
        <p>
        <button type="button" name="image_link"  id="insert-media-button"  >
          <span class="wp-media-buttons-icon"></span> Add image 
        </button>
        </p>
        <br/>
        
        <input type="submit" name="submit" class="button button-primary" value="Save changes" />
    </form>
</div>
<script type="text/javascript">
jQuery(document).ready(function($){
 var tgm_media_frame;

jQuery('#insert-media-button').click(function() {

  if ( tgm_media_frame ) {
    tgm_media_frame.open();
    return;
  }

  tgm_media_frame = wp.media.frames.tgm_media_frame = wp.media({
    multiple: true,
    library: {
      type: 'image'
    },
  });

  tgm_media_frame.on('select', function(){
    var selection = tgm_media_frame.state().get('selection');
    selection.map( function( attachment ) {
      attachment = attachment.toJSON();
          console.log(attachment);
           $("#something").append("<img style='width: 30%; float: left; padding-right: 2px; box-sizing: border-box;' src=" +attachment.url+">");
          // Do something with attachment.id and/or attachment.url here
    });
  });

  tgm_media_frame.open();

});
  
});

</script>