<div class="wrap">
    <h2>Customs Slider</h2>
    <form id="form1" method="post" action="{{ panel_url('oCoder::mainPanel', {'action':'add'}) }}">
        <label>Name </label><br/>
        <input type="text" name="name">
        <br/>

        <label>Content Text </label><br/>
        <input type="text" name="content"><br/>

        <label>Company</label><br/>
        <input type="text" name="company"><br/>
        <!-- label>Upload Images</label><br/>  
			<div id="wp-content-media-buttons" class="wp-media-buttons">
				<button type="button" id="insert-media-button" class="button insert-media add_media" data-editor="content">
					<span class="wp-media-buttons-icon"></span> Add image

				</button>
			</div> -->
        <label>
            <input type="text" name="image_link" value="http://">
        </label> 
            OR  
        <button type="button" name="image_link"  id="insert-media-button" class="button insert-media add_media" data-editor="content">
          <span class="wp-media-buttons-icon"></span> Add image 
        </button>
        
        <br/>
        
        <input type="submit" name="submit" class="button button-primary" value="Save changes" />
    </form>
</div>
