
<div class="wrap">
	<div class="title_line">
		<h1>DOASBAORD</h1>

		<ul>
			{% for item in ocoder %}
				<li>{{ item.name }}/{{ item.company }}</li>
			{% else %}
			Nothing
			{% endfor %}
		</ul>
		
	</div>
</div>