
<div class="wrap">
	<div class="title_line">
		<h1>Owl Carousel
			<a href="http://ocoder_plugins.local/wp-admin/admin.php?page=myplugin-configure" class="page-title-action">Add New</a>
		</h1>
		<table class="wp-list-table widefat fixed striped">
		<thead>
			<tr>
				<td id="cb" class="manage-column column-cb check-column"></td>
				<th>Name</th>
				<th>Content</th>
				<th>Image Url</th>
			</tr>
		</thead>
		<tbody id="the-list">
			{% for item in ocoder %}

				<tr> 
					<th></th>
					<td><a href="panel_url('oCoder::editSlider','id::item.id' "> {{ item.name }}</a>
						<div class="row-actions">
							<span class="edit"><a href="#" aria-label="Edit “New Post”">Edit</a> | </span>
							<span class="trash"><a href="#" class="submitdelete" aria-label="Delete">Delete</a></span>
						</div>
					</td>
					<td> {{ item.content }}</td>
					<td><img src="{{ item.image_link }}" style="width:50px;heigth:50px"></td>
				</tr>
			{% else %}
			<tr> 
				<td class="colspanchange" colspan="4">Nothing.</td>
			</tr>
			{% endfor %}	
		</tbody>
		
			
		
		</table>
	</div>
</div>