.uc_quote_slider{
    width: 100%;
    overflow: hidden;
}
.uc_quote_slider .slick-list{
    outline: none;
}

.uc_quote_slider .slick-dots {
    display: table;
    margin: 20px auto 0;
}
.uc_quote_slider .slick-dots  > ul,.uc_quote_slider  li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.uc_quote_slider .slick-dots li {
    float: left;
    margin: 0 3px;
}
.uc_quote_slider .slick-dots li.slick-active button {
    background: #00bcd4;
}
.uc_quote_slider .slick-dots  > li > button{
    -webkit-appearance: button;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    transition: .4s;
    font-size: 0px;
    width: 9px;
    height: 9px;
    padding: 0;
    background: transparent;
    border: 1px solid #00bcd4;
    border-radius: 50%;
}
.uc_quote_slider.slick-initialized .slick-slide {
    display: block;
}
.uc_quote_slider .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.uc_quote_slider .uc_quote_item {
    padding: 0 15px;
}
.uc_quote_slider .uc_quote_info {
    padding: 35px 30px;
    border: 1px solid #e5e5e5;
}
.uc_quote_slider .uc_quote_info > p {
    font-size: 14px;
    color: #888;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3px;
}
.uc_quote_slider .uc_quote_info .uc_author {
    display: block;
    overflow: hidden;
}
.uc_quote_slider .uc_quote_info .uc_author_avatar {
    width: 54px;
    height: 54px;
    border-radius: 99px;
    float: left;
}
.uc_quote_slider .uc_quote_info .uc_author_info {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 16px;
    font-style: normal;
    margin-top: 6px;
      font-family: 'Open Sans', sans-serif;
}
.uc_quote_slider .uc_quote_info .uc_author_info .uc_name {
    color: #444;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;


}
.uc_quote_slider .uc_quote_info .uc_author_info .uc_company {
    color: #00bcd4;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width:960px) {
	.uc_quote_slider .uc_quote_info .uc_author_info {
	 width: 130px;
	}

	.uc_quote_slider .uc_quote_info .uc_author_info {
		margin-left: 12px;
	}
}
